.tareas {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.header {
    display: grid;
    grid-template-columns: 5% 10% 50% 25% 5% 5%;
    height: 8rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.icono {
    grid-column: 1/2;
    text-align: center;
}
.titulo {
    text-align: center;
    grid-column: 2/3;
    font-size: 2rem;
}
.buscar {
    grid-column: 4/5;
    width: 90%;
    height: 3rem;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    font-family: "Caveat", cursive;
    outline: none;
}
.mas {
    grid-column: 5/6;
    height: 4rem;
    width: 4rem;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    border-radius: 50%;
    border: none;
    border: 1px solid black;
    color: #0022ff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: "Cave0at", cursive;
}
.emoji {
    grid-column: 6/7;
    height: 4rem;
    width: 4rem;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    text-decoration: none;
    font-family: "Caveat", cursive;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.cuerpo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 1rem;
    grid-template-rows: 5% 94%;
    gap: 1rem;
}
.titulo_1 {
    grid-column: 1/6;
    grid-row: 1/2;
    font-size: 	2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 3px dotted gray;
}
.titulo_2 {
    grid-column: 6/7;
    grid-row: 1/2;
    font-size: 	2rem;
    display: flex;
    align-items: center;
    border-bottom: 3px dotted gray;
    padding: 1rem;
}
.titulo_3 {
    grid-row: 1/2;
    grid-column: 7/9;
    font-size: 	2rem;
    display: flex;
    align-items: center;
    border-bottom: 3px dotted gray;
    padding: 1rem;
}
.titulo_4 {
    grid-row: 1/2;
    grid-column: 9/11;
    font-size: 	2rem;
    display: flex;
    align-items: center;
    border-bottom: 3px dotted gray;
    padding: 1rem;
}
.lista {
    grid-column: 1/6;
    grid-row: 2/3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.asignado {
    grid-column: 6/7;
    grid-row: 2/3;
    border-left: 3px dotted gray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.fecha {
    grid-column: 7/9;
    grid-row: 2/3;
    border-left: 3px dotted gray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.estado {
    grid-column: 9/11;
    grid-row: 2/3;
    border-left: 3px dotted gray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 30%;
    height: 40rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(10, 1fr);

}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    grid-column: 4/5;
    grid-row: 1/2;   
    justify-self: center;
    align-self: center; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.nombre_tarea {
    grid-column: 2/4;
    grid-row: 2/3;
    width: 90%;
    justify-self: center;
    align-self: center;
    border: none;
    border: 1px solid black;
    height: 100%;
    border-radius: 5px;
    font-family: "Caveat", cursive;
}
.nombre_tarea::placeholder {
    font-family: "Caveat", cursive;
    text-align: center;
    font-size: 2rem;
}
.nombre_usuario {
    grid-column: 2/4;
    grid-row: 4/5;
    width: 90%;
    height: 100%;
    justify-self: center;
    align-self: center;
    border: none;
    border: 1px solid black;
    height: 100%;
    border-radius: 5px;
    font-family: "Caveat", cursive;
}
.nombre_usuario::placeholder {
    font-family: "Caveat", cursive;
    text-align: center;
    font-size: 2rem;
}
.date {
    grid-column: 2/4;
    grid-row: 6/7;
    width: 90%;
    justify-self: center;
    align-self: center;
    border: none;
    border: 1px solid black;
    height: 100%;
    border-radius: 5px;
    font-family: "Caveat", cursive;
}
.date::placeholder {
    font-family: "Caveat", cursive;
    font-size: 2rem;
}
.agregar {
    grid-column: 2/4;
    grid-row: 10/11;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}
.estate {
    grid-column: 2/4;
    grid-row: 8/9;
    width: 90%;
    justify-self: center;
    align-self: center;
    height: 100%;
    border: none;
    border: 1px solid black;
    font-size: 2rem;
    font-family: "Caveat", cursive;
    border-radius: 5px;
}
.tareahecha {
    border: 2px solid rgba(0, 0, 0, 0.367);
    font-size: 2rem;
    border-radius: 5px;
}
.usuarioasignado {
    border: 2px solid rgba(0, 0, 0, 0.367);
    font-size: 2rem;
    border-radius: 5px;
}
.fechalista {
    border: 2px solid rgba(0, 0, 0, 0.367);
    font-size: 2rem;
    border-radius: 5px;
}
.estadolisto {
    border: 2px solid rgba(0, 0, 0, 0.367);
    font-size: 2rem;
    border-radius: 5px;
}
.tareahecha {
    display: grid;
    grid-template-columns: 7% 93%;
    grid-column: 2/3;
    padding: 0.3rem;
}
.work {
    grid-column: 2/3;
    align-self: center;
    font-size: 2rem;
}
.eliminar {
    padding: 0.1rem;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 3rem;
    height: 3rem;
    justify-self: center;
    align-self: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    font-size: 2rem;
}
